In [1]:
import pandas
from zipfile import ZipFile
import glob

In [2]:
with ZipFile('CAINC1.zip', 'r') as zf:
    zf.extractall()

In [3]:
csv_files = glob.glob("*.csv")

In [4]:
csv_files

['CAINC1_VT_1969_2017.csv',
 'CAINC1_IA_1969_2017.csv',
 'CAINC1_LA_1969_2017.csv',
 'CAINC1_MI_1969_2017.csv',
 'CAINC1_NM_1969_2017.csv',
 'CAINC1_MT_1969_2017.csv',
 'CAINC1_NJ_1969_2017.csv',
 'CAINC1_OR_1969_2017.csv',
 'CAINC1_IL_1969_2017.csv',
 'CAINC1_WY_1969_2017.csv',
 'CAINC1_AZ_1969_2017.csv',
 'CAINC1_KS_1969_2017.csv',
 'CAINC1_PA_1969_2017.csv',
 'CAINC1_TX_1969_2017.csv',
 'CAINC1_CO_1969_2017.csv',
 'CAINC1_AL_1969_2017.csv',
 'CAINC1_TN_1969_2017.csv',
 'CAINC1_RI_1969_2017.csv',
 'CAINC1_WI_1969_2017.csv',
 'CAINC1_MD_1969_2017.csv',
 'CAINC1_NE_1969_2017.csv',
 'CAINC1_ID_1969_2017.csv',
 'CAINC1_CT_1969_2017.csv',
 'CAINC1_SC_1969_2017.csv',
 'CAINC1_NH_1969_2017.csv',
 'CAINC1_MO_1969_2017.csv',
 'CAINC1_FL_1969_2017.csv',
 'CAINC1_MN_1969_2017.csv',
 'CAINC1_WV_1969_2017.csv',
 'CAINC1_US_1969_2017.csv',
 'CAINC1_MS_1969_2017.csv',
 'CAINC1_IN_1969_2017.csv',
 'CAINC1_ME_1969_2017.csv',
 'CAINC1_OH_1969_2017.csv',
 'CAINC1__ALL_STATES_1969_2017.csv',
 'CAINC1_AR_1969_2017.csv',
 'CAINC1_KY_1969_2017.csv',
 'CAINC1_CA_1969_2017.csv',
 'CAINC1_DC_1969_2017.csv',
 'CAINC1_VA_1969_2017.csv',
 'CAINC1_HI_1969_2017.csv',
 'CAINC1_NY_1969_2017.csv',
 'CAINC1_OK_1969_2017.csv',
 'CAINC1_DE_1969_2017.csv',
 'CAINC1_NV_1969_2017.csv',
 'CAINC1_GA_1969_2017.csv',
 'CAINC1_AK_1969_2017.csv',
 'CAINC1_MA_1969_2017.csv',
 'CAINC1_UT_1969_2017.csv',
 'CAINC1_SD_1969_2017.csv',
 'CAINC1_NC_1969_2017.csv',
 'CAINC1_ND_1969_2017.csv',
 'CAINC1_WA_1969_2017.csv']

In [5]:
data = pandas.read_csv('CAINC1__ALL_STATES_1969_2017.csv', encoding='latin-1', 
                      skipfooter=3, engine='python')

In [6]:
data.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"""00000""",United States,,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,791229000,855525000,...,12438527000,12051307000,12541995000,13315478000,13998383000,14175503000,14983140000,15711634000,16115630000,16820250000
1,"""00000""",United States,,CAINC1,2,...,Population (persons) 1/,Number of persons,201298000,203798722,...,304093966,306771529,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,"""00000""",United States,,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,...,40904,39284,40545,42727,44582,44826,47025,48940,49831,51640
3,"""01000""",Alabama,5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,9737715,10628318,...,157479528,155254669,161965527,167675590,172427855,174118716,180220290,187301605,190991192,198916425
4,"""01000""",Alabama,5,CAINC1,2,...,Population (persons) 1/,Number of persons,3440000,3449846,...,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747

In [7]:
virginia = data[data.GeoFIPS.str.contains('\"51')] # select virginia
virginia.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
8670,"""51000""",Virginia,5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,17847652,19371643,...,356434411,348944176,364382497,386298008,404772481,402064568,420235927,440823733,448683501,466743276
8671,"""51000""",Virginia,5,CAINC1,2,...,Population (persons) 1/,Number of persons,4614000,4659930,...,7833496,7925937,8025206,8107548,8188656,8261689,8316902,8366767,8414380,8470020
8672,"""51000""",Virginia,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3868,4157,...,45501,44026,45405,47647,49431,48666,50528,52687,53323,55105
8673,"""51001""","Accomack, VA",5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,72875,79372,...,1090928,1089574,1112288,1129193,1181700,1188926,1227111,1277179,1283155,1324623
8674,"""51001""","Accomack, VA",5,CAINC1,2,...,Population (persons) 1/,Number of persons,29308,28863,...,33970,33415,33147,33222,33264,32963,32965,32911,32818,32545

In [8]:
virginia.shape

(318, 57)

In [9]:
virginia.to_csv('virginia.csv')

In [10]:
data.head(20)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"""00000""",United States,,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,791229000,855525000,...,12438527000,12051307000,12541995000,13315478000,13998383000,14175503000,14983140000,15711634000,16115630000,16820250000
1,"""00000""",United States,,CAINC1,2,...,Population (persons) 1/,Number of persons,201298000,203798722,...,304093966,306771529,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,"""00000""",United States,,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,...,40904,39284,40545,42727,44582,44826,47025,48940,49831,51640
3,"""01000""",Alabama,5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,9737715,10628318,...,157479528,155254669,161965527,167675590,172427855,174118716,180220290,187301605,190991192,198916425
4,"""01000""",Alabama,5,CAINC1,2,...,Population (persons) 1/,Number of persons,3440000,3449846,...,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
5,"""01000""",Alabama,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2831,3081,...,33377,32631,33844,34942,35818,36067,37235,38612,39294,40805
6,"""01001""","Autauga, AL",5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,69973,77712,...,1751550,1764978,1829458,1894696,1924646,1939719,2012244,2116276,2183987,2247046
7,"""01001""","Autauga, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,25166,24606,...,53277,54135,54750,55199,54927,54695,54864,54838,55278,55504
8,"""01001""","Autauga, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2780,3158,...,32876,32603,33415,34325,35040,35464,36677,38591,39509,40484
9,"""01003""","Baldwin, AL",5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,157191,172745,...,6286039,6224967,6643563,7051666,7253460,7441318,7875234,8400864,8923673,9372465
10,"""01003""","Baldwin, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,56951,59474,...,175827,179406,183110,186534,190048,194736,199064,202863,207509,212628
11,"""01003""","Baldwin, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2760,2905,...,35751,34698,36282,37804,38166,38212,39561,41412,43004,44079
12,"""01005""","Barbour, AL",5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,51130,57657,...,714058,721519,760771,768718,764828,809476,800883,827557,818333,845349
13,"""01005""","Barbour, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,23818,22655,...,27808,27657,27332,27351,27175,26947,26749,26264,25774,25270
14,"""01005""","Barbour, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2147,2545,...,25678,26088,27834,28106,28145,30040,29941,31509,31750,33453
15,"""01007""","Bibb, AL",5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,29810,32551,...,567239,545746,573892,590755,612395,617036,636539,655342,656112,680543
16,"""01007""","Bibb, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,14994,13798,...,22705,22941,22872,22745,22658,22503,22533,22561,22633,22668
17,"""01007""","Bibb, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,1988,2359,...,24983,23789,25091,25973,27028,27420,28249,29048,28989,30022
18,"""01009""","Blount, AL",5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,69322,70070,...,1578207,1570082,1592535,1632900,1704785,1739496,1804587,1842131,1857001,1955420
19,"""01009""","Blount, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,26411,26999,...,57055,57341,57381,57562,57595,57623,57546,57590,57562,58013

In [11]:
data.tail(10)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
9584,"""95000""",Southeast,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3198,3469,...,36869,35389,36475,38112,39418,39271,41206,42950,43723,45198
9585,"""96000""",Southwest,6,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,56500512,62538485,...,1388296587,1320708181,1388502208,1504486401,1603075990,1642200054,1762040572,1805775989,1814966983,1894779972
9586,"""96000""",Southwest,6,CAINC1,2,...,Population (persons) 1/,Number of persons,16328000,16621375,...,36269039,36899289,37472786,37972888,38521426,39030404,39619086,40243759,40820143,41339800
9587,"""96000""",Southwest,6,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3460,3763,...,38278,35792,37054,39620,41615,42075,44475,44871,44463,45834
9588,"""97000""",Rocky Mountain,7,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,17805758,19931406,...,409181684,391528943,405707756,438403773,467422371,485385826,521692774,550009439,564264469,593926448
9589,"""97000""",Rocky Mountain,7,CAINC1,2,...,Population (persons) 1/,Number of persons,4943000,5037873,...,10609537,10793888,10949084,11079489,11215355,11366966,11514638,11689105,11878018,12055738
9590,"""97000""",Rocky Mountain,7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3602,3956,...,38567,36273,37054,39569,41677,42701,45307,47053,47505,49265
9591,"""98000""",Far West,8,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,121725092,131575529,...,2230239645,2154405245,2246368991,2391122432,2547186492,2589966233,2777826261,2978517281,3098158645,3248359269
9592,"""98000""",Far West,8,CAINC1,2,...,Population (persons) 1/,Number of persons,26635000,27101402,...,51608614,52167532,52686778,53176406,53679832,54161802,54695081,55249155,55772858,56250544
9593,"""98000""",Far West,8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4570,4855,...,43214,41298,42636,44966,47451,47819,50787,53911,55550,57748

In [12]:
# fips codes source: https://www.nrcs.usda.gov/wps/portal/nrcs/detail/?cid=nrcs143_013696
fips = """Alabama 	AL 	01
Alaska 	AK 	02
Arizona 	AZ 	04
Arkansas 	AR 	05
California 	CA 	06
Colorado 	CO 	08
Connecticut 	CT 	09
Delaware 	DE 	10
Florida 	FL 	12
Georgia 	GA 	13
Hawaii 	HI 	15
Idaho 	ID 	16
Illinois 	IL 	17
Indiana 	IN 	18
Iowa 	IA 	19
Kansas 	KS 	20
Kentucky 	KY 	21
Louisiana 	LA 	22
Maine 	ME 	23
Maryland 	MD 	24
Massachusetts 	MA 	25
Michigan 	MI 	26
Minnesota 	MN 	27
Mississippi 	MS 	28
Missouri 	MO 	29
Montana 	MT 	30
Nebraska 	NE 	31
Nevada 	NV 	32
New Hampshire 	NH 	33
New Jersey 	NJ 	34
New Mexico 	NM 	35
New York 	NY 	36
North Carolina 	NC 	37
North Dakota 	ND 	38
Ohio 	OH 	39
Oklahoma 	OK 	40
Oregon 	OR 	41
Pennsylvania 	PA 	42
Rhode Island 	RI 	44
South Carolina 	SC 	45
South Dakota 	SD 	46
Tennessee 	TN 	47
Texas 	TX 	48
Utah 	UT 	49
Vermont 	VT 	50
Virginia 	VA 	51
Washington 	WA 	53
West Virginia 	WV 	54
Wisconsin 	WI 	55
Wyoming 	WY 	56
American Samoa 	AS 	60
Guam 	GU 	66
Northern Mariana Islands 	MP 	69
Puerto Rico 	PR 	72
Virgin Islands 	VI 	78"""

In [13]:
fips_df = pandas.DataFrame([fip.split("\t") for fip in fips.split("\n")])
fips_df.columns=["State", "Abbreviation", 'FIPS']

In [14]:
fips_df

                        State Abbreviation FIPS
0                    Alabama           AL    01
1                     Alaska           AK    02
2                    Arizona           AZ    04
3                   Arkansas           AR    05
4                 California           CA    06
5                   Colorado           CO    08
6                Connecticut           CT    09
7                   Delaware           DE    10
8                    Florida           FL    12
9                    Georgia           GA    13
10                    Hawaii           HI    15
11                     Idaho           ID    16
12                  Illinois           IL    17
13                   Indiana           IN    18
14                      Iowa           IA    19
15                    Kansas           KS    20
16                  Kentucky           KY    21
17                 Louisiana           LA    22
18                     Maine           ME    23
19                  Maryland           MD    24
20             Massachusetts           MA    25
21                  Michigan           MI    26
22                 Minnesota           MN    27
23               Mississippi           MS    28
24                  Missouri           MO    29
25                   Montana           MT    30
26                  Nebraska           NE    31
27                    Nevada           NV    32
28             New Hampshire           NH    33
29                New Jersey           NJ    34
30                New Mexico           NM    35
31                  New York           NY    36
32            North Carolina           NC    37
33              North Dakota           ND    38
34                      Ohio           OH    39
35                  Oklahoma           OK    40
36                    Oregon           OR    41
37              Pennsylvania           PA    42
38              Rhode Island           RI    44
39            South Carolina           SC    45
40              South Dakota           SD    46
41                 Tennessee           TN    47
42                     Texas           TX    48
43                      Utah           UT    49
44                   Vermont           VT    50
45                  Virginia           VA    51
46                Washington           WA    53
47             West Virginia           WV    54
48                 Wisconsin           WI    55
49                   Wyoming           WY    56
50            American Samoa           AS    60
51                      Guam           GU    66
52  Northern Mariana Islands           MP    69
53               Puerto Rico           PR    72
54            Virgin Islands           VI    78

In [15]:
omit_fips = [" \""+str(fip) for fip in ['02', 15, 60, 66, 69, 72, 78, 90, 91, 92, 93, 94, 95, 96, 97, 98]]
omit_fips

[' "02',
 ' "15',
 ' "60',
 ' "66',
 ' "69',
 ' "72',
 ' "78',
 ' "90',
 ' "91',
 ' "92',
 ' "93',
 ' "94',
 ' "95',
 ' "96',
 ' "97',
 ' "98']

In [16]:
small = data.copy()
for omit in omit_fips:
    small = small[~small.GeoFIPS.str.contains(omit)]

In [17]:
small.shape

(9393, 57)

In [18]:
data.shape

(9594, 57)

In [19]:
geofips = set(code[:4] for code in data.GeoFIPS.values)

In [20]:
geofips

{' "00',
 ' "01',
 ' "02',
 ' "04',
 ' "05',
 ' "06',
 ' "08',
 ' "09',
 ' "10',
 ' "11',
 ' "12',
 ' "13',
 ' "15',
 ' "16',
 ' "17',
 ' "18',
 ' "19',
 ' "20',
 ' "21',
 ' "22',
 ' "23',
 ' "24',
 ' "25',
 ' "26',
 ' "27',
 ' "28',
 ' "29',
 ' "30',
 ' "31',
 ' "32',
 ' "33',
 ' "34',
 ' "35',
 ' "36',
 ' "37',
 ' "38',
 ' "39',
 ' "40',
 ' "41',
 ' "42',
 ' "44',
 ' "45',
 ' "46',
 ' "47',
 ' "48',
 ' "49',
 ' "50',
 ' "51',
 ' "53',
 ' "54',
 ' "55',
 ' "56',
 ' "91',
 ' "92',
 ' "93',
 ' "94',
 ' "95',
 ' "96',
 ' "97',
 ' "98'}

In [21]:
geofips = set(code[:4] for code in small.GeoFIPS.values)

In [22]:
geofips

{' "00',
 ' "01',
 ' "04',
 ' "05',
 ' "06',
 ' "08',
 ' "09',
 ' "10',
 ' "11',
 ' "12',
 ' "13',
 ' "16',
 ' "17',
 ' "18',
 ' "19',
 ' "20',
 ' "21',
 ' "22',
 ' "23',
 ' "24',
 ' "25',
 ' "26',
 ' "27',
 ' "28',
 ' "29',
 ' "30',
 ' "31',
 ' "32',
 ' "33',
 ' "34',
 ' "35',
 ' "36',
 ' "37',
 ' "38',
 ' "39',
 ' "40',
 ' "41',
 ' "42',
 ' "44',
 ' "45',
 ' "46',
 ' "47',
 ' "48',
 ' "49',
 ' "50',
 ' "51',
 ' "53',
 ' "54',
 ' "55',
 ' "56'}

In [23]:
small.shape

(9393, 57)

In [24]:
for fip in geofips:
    sdf = small[small.GeoFIPS.str.contains(fip)]
    sdf.to_csv(fip[2:]+".csv")

In [25]:
!ls

00.csv			 CAINC1_AR_1969_2017.csv
01.csv			 CAINC1_AZ_1969_2017.csv
010_csv.ipynb		 CAINC1_CA_1969_2017.csv
015_csv_state_shp.ipynb  CAINC1_CO_1969_2017.csv
020_virginia.ipynb	 CAINC1_CT_1969_2017.csv
030_wisconsin.ipynb	 CAINC1_DC_1969_2017.csv
04.csv			 CAINC1_DE_1969_2017.csv
040_other.ipynb		 CAINC1_FL_1969_2017.csv
05.csv			 CAINC1_GA_1969_2017.csv
06.csv			 CAINC1_HI_1969_2017.csv
08.csv			 CAINC1_IA_1969_2017.csv
09.csv			 CAINC1_ID_1969_2017.csv
10.csv			 CAINC1_IL_1969_2017.csv
11.csv			 CAINC1_IN_1969_2017.csv
12.csv			 CAINC1_KS_1969_2017.csv
13.csv			 CAINC1_KY_1969_2017.csv
16.csv			 CAINC1_LA_1969_2017.csv
17.csv			 CAINC1_MA_1969_2017.csv
18.csv			 CAINC1_MD_1969_2017.csv
19.csv			 CAINC1_ME_1969_2017.csv
20.csv			 CAINC1_MI_1969_2017.csv
21.csv			 CAINC1_MN_1969_2017.csv
22.csv			 CAINC1_MO_1969_2017.csv
23.csv			 CAINC1_MS_1969_2017.csv
24.csv			 CAINC1_MT_1969_2017.csv
25.csv			 CAINC1_NC_1969_2017.csv
26.csv			 CAINC1_ND_1969_2017.csv
27.csv			 CAINC1_NE_1969_2017.csv
28.csv			 CAINC1_NH_1969_2017.csv
29.csv			 CAINC1_NJ_1969_2017.csv
30.csv			 CAINC1_NM_1969_2017.csv
31.csv			 CAINC1_NV_1969_2017.csv
32.csv			 CAINC1_NY_1969_2017.csv
33.csv			 CAINC1_OH_1969_2017.csv
34.csv			 CAINC1_OK_1969_2017.csv
35.csv			 CAINC1_OR_1969_2017.csv
36.csv			 CAINC1_PA_1969_2017.csv
37.csv			 CAINC1_RI_1969_2017.csv
38.csv			 CAINC1_SC_1969_2017.csv
39.csv			 CAINC1_SD_1969_2017.csv
40.csv			 CAINC1_TN_1969_2017.csv
41.csv			 CAINC1_TX_1969_2017.csv
42.csv			 CAINC1_US_1969_2017.csv
44.csv			 CAINC1_UT_1969_2017.csv
45.csv			 CAINC1_VA_1969_2017.csv
46.csv			 CAINC1_VT_1969_2017.csv
47.csv			 CAINC1_WA_1969_2017.csv
48.csv			 CAINC1_WI_1969_2017.csv
49.csv			 CAINC1_WV_1969_2017.csv
50.csv			 CAINC1_WY_1969_2017.csv
51.csv			 CAINC1__ALL_STATES_1969_2017.csv
53.csv			 CAINC1__Footnotes.html
54.csv			 CAINC1__definition.xml
55.csv			 README.md
56.csv			 clean
CAINC1.zip		 tl_2019_us_county.zip
CAINC1_AK_1969_2017.csv  virginia.csv
CAINC1_AL_1969_2017.csv

In [26]:
data[data['1969'].isnull()]

Empty DataFrame
Columns: [GeoFIPS, GeoName, Region, TableName, LineCode, IndustryClassification, Description, Unit, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
Index: []

[0 rows x 57 columns]

In [27]:
for year in range(1969, 2018):
    print(year, data[data[str(year)]=='(NA)'].shape)

1969 (87, 57)
1970 (87, 57)
1971 (87, 57)
1972 (87, 57)
1973 (87, 57)
1974 (87, 57)
1975 (87, 57)
1976 (87, 57)
1977 (87, 57)
1978 (87, 57)
1979 (105, 57)
1980 (105, 57)
1981 (105, 57)
1982 (102, 57)
1983 (99, 57)
1984 (99, 57)
1985 (99, 57)
1986 (99, 57)
1987 (99, 57)
1988 (96, 57)
1989 (93, 57)
1990 (93, 57)
1991 (87, 57)
1992 (87, 57)
1993 (84, 57)
1994 (84, 57)
1995 (84, 57)
1996 (84, 57)
1997 (84, 57)
1998 (84, 57)
1999 (84, 57)
2000 (84, 57)
2001 (84, 57)
2002 (81, 57)
2003 (81, 57)
2004 (81, 57)
2005 (81, 57)
2006 (81, 57)
2007 (81, 57)
2008 (78, 57)
2009 (75, 57)
2010 (75, 57)
2011 (75, 57)
2012 (75, 57)
2013 (75, 57)
2014 (75, 57)
2015 (75, 57)
2016 (75, 57)
2017 (75, 57)

In [28]:
small = data[data.LineCode.isin( [2, 3] )]

In [29]:
small.shape

(6396, 57)

In [30]:
data.shape

(9594, 57)

In [31]:
small.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,"""00000""",United States,,CAINC1,2,...,Population (persons) 1/,Number of persons,201298000,203798722,...,304093966,306771529,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,"""00000""",United States,,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,...,40904,39284,40545,42727,44582,44826,47025,48940,49831,51640
4,"""01000""",Alabama,5,CAINC1,2,...,Population (persons) 1/,Number of persons,3440000,3449846,...,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
5,"""01000""",Alabama,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2831,3081,...,33377,32631,33844,34942,35818,36067,37235,38612,39294,40805
7,"""01001""","Autauga, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,25166,24606,...,53277,54135,54750,55199,54927,54695,54864,54838,55278,55504

In [32]:
for year in range(1969, 2018):
    small = small[small[str(year)] != "(NA)"]

In [33]:
small.shape

(6298, 57)

In [34]:
small.head(20)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,"""00000""",United States,,CAINC1,2,...,Population (persons) 1/,Number of persons,201298000,203798722,...,304093966,306771529,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,"""00000""",United States,,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,...,40904,39284,40545,42727,44582,44826,47025,48940,49831,51640
4,"""01000""",Alabama,5,CAINC1,2,...,Population (persons) 1/,Number of persons,3440000,3449846,...,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
5,"""01000""",Alabama,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2831,3081,...,33377,32631,33844,34942,35818,36067,37235,38612,39294,40805
7,"""01001""","Autauga, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,25166,24606,...,53277,54135,54750,55199,54927,54695,54864,54838,55278,55504
8,"""01001""","Autauga, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2780,3158,...,32876,32603,33415,34325,35040,35464,36677,38591,39509,40484
10,"""01003""","Baldwin, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,56951,59474,...,175827,179406,183110,186534,190048,194736,199064,202863,207509,212628
11,"""01003""","Baldwin, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2760,2905,...,35751,34698,36282,37804,38166,38212,39561,41412,43004,44079
13,"""01005""","Barbour, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,23818,22655,...,27808,27657,27332,27351,27175,26947,26749,26264,25774,25270
14,"""01005""","Barbour, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2147,2545,...,25678,26088,27834,28106,28145,30040,29941,31509,31750,33453
16,"""01007""","Bibb, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,14994,13798,...,22705,22941,22872,22745,22658,22503,22533,22561,22633,22668
17,"""01007""","Bibb, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,1988,2359,...,24983,23789,25091,25973,27028,27420,28249,29048,28989,30022
19,"""01009""","Blount, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,26411,26999,...,57055,57341,57381,57562,57595,57623,57546,57590,57562,58013
20,"""01009""","Blount, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2625,2595,...,27661,27381,27754,28368,29600,30188,31359,31987,32261,33707
22,"""01011""","Bullock, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,12554,11749,...,10953,10987,10880,10675,10612,10549,10673,10419,10441,10309
23,"""01011""","Bullock, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,1809,2165,...,23059,23775,23479,24112,25172,26126,25052,26222,26450,27500
25,"""01013""","Butler, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,22726,21987,...,20949,20867,20944,20880,20688,20372,20327,20141,19965,19825
26,"""01013""","Butler, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2017,2210,...,27698,27363,28554,28824,30051,31470,32832,33700,33888,35196
28,"""01015""","Calhoun, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,102946,103125,...,117274,118363,118466,117785,117219,116482,115941,115505,114980,114728
29,"""01015""","Calhoun, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2957,3044,...,30883,30207,30977,31874,32343,32021,33087,34188,34869,36255

In [35]:
geofips = pandas.unique(small.GeoFIPS)

In [36]:
geofips

array([' "00000"', ' "01000"', ' "01001"', ..., ' "96000"', ' "97000"',
       ' "98000"'], dtype=object)

In [37]:
bad_fips = [g for g in geofips if g[-2]=="0"]

In [38]:
bad_fips

[' "00000"',
 ' "01000"',
 ' "02000"',
 ' "02020"',
 ' "02060"',
 ' "02090"',
 ' "02110"',
 ' "02130"',
 ' "02150"',
 ' "02170"',
 ' "02180"',
 ' "04000"',
 ' "05000"',
 ' "06000"',
 ' "08000"',
 ' "09000"',
 ' "10000"',
 ' "11000"',
 ' "12000"',
 ' "13000"',
 ' "15000"',
 ' "16000"',
 ' "17000"',
 ' "18000"',
 ' "19000"',
 ' "20000"',
 ' "21000"',
 ' "22000"',
 ' "23000"',
 ' "24000"',
 ' "24510"',
 ' "25000"',
 ' "26000"',
 ' "27000"',
 ' "28000"',
 ' "29000"',
 ' "29510"',
 ' "30000"',
 ' "31000"',
 ' "32000"',
 ' "32510"',
 ' "33000"',
 ' "34000"',
 ' "35000"',
 ' "36000"',
 ' "37000"',
 ' "38000"',
 ' "39000"',
 ' "40000"',
 ' "41000"',
 ' "42000"',
 ' "44000"',
 ' "45000"',
 ' "46000"',
 ' "47000"',
 ' "48000"',
 ' "49000"',
 ' "50000"',
 ' "51000"',
 ' "51510"',
 ' "51550"',
 ' "51650"',
 ' "51700"',
 ' "51710"',
 ' "51740"',
 ' "51760"',
 ' "51770"',
 ' "51800"',
 ' "51810"',
 ' "53000"',
 ' "54000"',
 ' "55000"',
 ' "56000"',
 ' "91000"',
 ' "92000"',
 ' "93000"',
 ' "94000"',
 ' "95000"',
 ' "96000"',
 ' "97000"',
 ' "98000"']

In [39]:
small[small.GeoFIPS.isin(bad_fips)]

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,"""00000""",United States,,CAINC1,2,...,Population (persons) 1/,Number of persons,201298000,203798722,...,304093966,306771529,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,"""00000""",United States,,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,...,40904,39284,40545,42727,44582,44826,47025,48940,49831,51640
4,"""01000""",Alabama,5,CAINC1,2,...,Population (persons) 1/,Number of persons,3440000,3449846,...,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
5,"""01000""",Alabama,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2831,3081,...,33377,32631,33844,34942,35818,36067,37235,38612,39294,40805
208,"""02000""",Alaska,8,CAINC1,2,...,Population (persons) 1/,Number of persons,296000,304328,...,687455,698895,714015,722259,730825,736760,736759,737979,741522,739795
209,"""02000""",Alaska,8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5322,5911,...,47569,46858,49247,52032,53122,52259,55561,57306,55914,57179
220,"""02020""","Anchorage Municipality, AK",8,CAINC1,2,...,Population (persons) 1/,Number of persons,123265,127569,...,281554,287677,293370,296291,298520,301081,300296,298018,297376,294356
221,"""02020""","Anchorage Municipality, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,6264,6860,...,55041,53416,56370,58504,59053,57374,61002,63480,61958,63532
226,"""02060""","Bristol Bay Borough, AK",8,CAINC1,2,...,Population (persons) 1/,Number of persons,1139,1156,...,1040,976,1002,1030,980,952,949,904,905,867
227,"""02060""","Bristol Bay Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,7674,9517,...,52063,62950,72191,79608,92910,110017,116223,110560,119811,126725
235,"""02090""","Fairbanks North Star Borough, AK",8,CAINC1,2,...,Population (persons) 1/,Number of persons,44738,45940,...,94552,95238,98276,98136,100354,100898,99308,99643,100602,99703
236,"""02090""","Fairbanks North Star Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,5577,6051,...,45712,45076,46057,50645,50534,48752,51960,53582,52843,54497
244,"""02110""","Juneau City and Borough, AK",8,CAINC1,2,...,Population (persons) 1/,Number of persons,13266,13710,...,31110,30857,31394,32162,32395,32570,32490,32612,32405,32094
245,"""02110""","Juneau City and Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,6642,7570,...,52452,51914,54809,57763,60950,60139,63124,63861,64319,66367
250,"""02130""","Ketchikan Gateway Borough, AK*",8,CAINC1,2,...,Population (persons) 1/,Number of persons,9945,10102,...,13319,13294,13544,13644,13700,13682,13780,13680,13727,13856
251,"""02130""","Ketchikan Gateway Borough, AK*",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4759,5310,...,51933,52631,54418,56629,59038,59653,62600,64943,63894,65034
253,"""02150""","Kodiak Island Borough, AK",8,CAINC1,2,...,Population (persons) 1/,Number of persons,9262,9396,...,13262,13505,13652,13820,14054,14078,13906,13753,13679,13448
254,"""02150""","Kodiak Island Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4873,6126,...,45046,44339,49487,51883,54810,53710,57411,60958,58066,60891
262,"""02170""","Matanuska-Susitna Borough, AK",8,CAINC1,2,...,Population (persons) 1/,Number of persons,6431,6661,...,84079,86885,89738,91721,93681,95853,98104,101064,104123,106532
263,"""02170""","Matanuska-Susitna Borough, AK",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4680,5307,...,40009,39647,40037,42691,43662,43498,45452,46785,44454,44803
265,"""02180""","Nome Census Area, AK*",8,CAINC1,2,...,Population (persons) 1/,Number of persons,5705,5753,...,9231,9313,9543,9775,9816,9844,9798,9869,9915,9921
266,"""02180""","Nome Census Area, AK*",8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3240,2950,...,37289,37279,40671,42115,43208,42841,47457,48660,48472,49983
370,"""04000""",Arizona,6,CAINC1,2,...,Population (persons) 1/,Number of persons,1737000,1794912,...,6280362,6343154,6407002,6465488,6544211,6616124,6706435,6802262,6908642,7016270
371,"""04000""",Arizona,6,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3643,4020,...,35543,33327,33559,34932,36132,36664,38331,39811,40672,42280
418,"""05000""",Arkansas,5,CAINC1,2,...,Population (persons) 1/,Number of persons,1913000,1930077,...,2874554,2896843,2921737,2938640,2949208,2956780,2964800,2975626,2988231,3004279
419,"""05000""",Arkansas,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2681,2915,...,31935,31152,31866,33801,36124,35995,37985,39067,39746,41046
646,"""06000""",California,8,CAINC1,2,...,Population (persons) 1/,Number of persons,19711000,20023181,...,36604337,36961229,37327690,37672654,38019006,38347383,38701278,39032444,39296476,39536653
647,"""06000""",California,8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4676,4965,...,43895,42050,43609,46145,48751,49173,52237,55679,57497,59796
823,"""08000""",Colorado,7,CAINC1,2,...,Population (persons) 1/,Number of persons,2166000,2223979,...,4889730,4972195,5048029,5116411,5186330,5262556,5342311,5440445,5530105,5607154
824,"""08000""",Colorado,7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3896,4290,...,42492,39851,40549,43502,45637,47308,50746,52228,52372,54646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8911,"""51770""","Roanoke (Independent City), VA",5,CAINC1,2,...,Population (persons) 1/,Number of persons,93000,92013,...,95813,97023,96750,96846,98098,98938,99520,99823,99743,99837
8912,"""51770""","Roanoke (Independent City), VA",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3761,3998,...,35730,34804,36097,37596,39622,38505,39322,41651,40875,41946
8914,"""51800""","Suffolk (Independent City), VA",5,CAINC1,2,...,Population (persons) 1/,Number of persons,45213,45076,...,82603,83648,84820,84754,85251,85770,86880,88103,89294,90237
8915,"""51800""","Suffolk (Independent City), VA",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3314,3509,...,41611,41364,42244,43856,45600,44797,45919,48003,48299,49779
8917,"""51810""","Virginia Beach (Independent City), VA",5,CAINC1,2,...,Population (persons) 1/,Number of persons,168547,173363,...,433331,435004,438921,442868,445286,448226,449355,450864,451404,450435
8918,"""51810""","Virginia Beach (Independent City), VA",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4719,5086,...,44854,43660,44595,46458,48548,48083,50381,52843,53295,55108
8989,"""53000""",Washington,8,CAINC1,2,...,Population (persons) 1/,Number of persons,3343000,3417362,...,6562231,6667426,6741386,6819155,6890899,6963410,7046931,7152818,7280934,7405743
8990,"""53000""",Washington,8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4258,4400,...,44550,41851,42533,44571,47737,48237,51505,53776,55519,57896
9109,"""54000""",West Virginia,5,CAINC1,2,...,Population (persons) 1/,Number of persons,1746000,1746629,...,1840310,1847775,1854315,1854891,1855360,1852333,1847624,1839767,1828637,1815857
9110,"""54000""",West Virginia,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2832,3156,...,31328,31470,32390,34206,35169,34979,36089,36818,36958,38479
9277,"""55000""",Wisconsin,3,CAINC1,2,...,Population (persons) 1/,Number of persons,4378000,4425944,...,5640996,5669264,5690403,5705812,5721075,5736673,5751272,5759744,5772917,5795483
9278,"""55000""",Wisconsin,3,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3752,3988,...,38914,38085,38995,41112,42947,43079,44785,46571,47426,48941
9499,"""56000""",Wyoming,7,CAINC1,2,...,Population (persons) 1/,Number of persons,329000,333795,...,546043,559851,564376,567602,576608,582341,583334,586102,584910,579315
9500,"""56000""",Wyoming,7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3704,4038,...,48227,43488,46010,50081,53680,53082,56605,57182,55452,57346
9571,"""91000""",New England,1,CAINC1,2,...,Population (persons) 1/,Number of persons,11735000,11878088,...,14340115,14403575,14468393,14528782,14584723,14643033,14696147,14726156,14757573,14810001
9572,"""91000""",New England,1,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4262,4539,...,51012,50158,52152,54138,55853,55555,57963,60631,62033,64303
9574,"""92000""",Mideast,2,CAINC1,2,...,Population (persons) 1/,Number of persons,42111000,42516918,...,47684886,47943872,48212807,48485212,48719716,48912581,49072778,49187876,49263573,49368668
9575,"""92000""",Mideast,2,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4391,4703,...,47326,46226,47795,50176,52182,52503,54585,56823,58342,61099
9577,"""93000""",Great Lakes,3,CAINC1,2,...,Population (persons) 1/,Number of persons,39904000,40319722,...,46275120,46355854,46437641,46502999,46568813,46661624,46735308,46756588,46798649,46885244
9578,"""93000""",Great Lakes,3,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4060,4234,...,38343,36848,37977,40199,41885,42440,44279,46182,47140,48707
9580,"""94000""",Plains,4,CAINC1,2,...,Population (persons) 1/,Number of persons,16202000,16349829,...,20248815,20392583,20535719,20638502,20749482,20872827,20984812,21082599,21179519,21294107
9581,"""94000""",Plains,4,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3661,3935,...,39864,38447,39586,42251,44418,44622,46297,47610,47990,49174
9583,"""95000""",Southeast,5,CAINC1,2,...,Population (persons) 1/,Number of persons,43440000,43973515,...,77057840,77814936,78575213,79260002,79953925,80585268,81304675,82104601,82935602,83715076
9584,"""95000""",Southeast,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3198,3469,...,36869,35389,36475,38112,39418,39271,41206,42950,43723,45198
9586,"""96000""",Southwest,6,CAINC1,2,...,Population (persons) 1/,Number of persons,16328000,16621375,...,36269039,36899289,37472786,37972888,38521426,39030404,39619086,40243759,40820143,41339800
9587,"""96000""",Southwest,6,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3460,3763,...,38278,35792,37054,39620,41615,42075,44475,44871,44463,45834
9589,"""97000""",Rocky Mountain,7,CAINC1,2,...,Population (persons) 1/,Number of persons,4943000,5037873,...,10609537,10793888,10949084,11079489,11215355,11366966,11514638,11689105,11878018,12055738
9590,"""97000""",Rocky Mountain,7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3602,3956,...,38567,36273,37054,39569,41677,42701,45307,47053,47505,49265
9592,"""98000""",Far West,8,CAINC1,2,...,Population (persons) 1/,Number of persons,26635000,27101402,...,51608614,52167532,52686778,53176406,53679832,54161802,54695081,55249155,55772858,56250544
9593,"""98000""",Far West,8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4570,4855,...,43214,41298,42636,44966,47451,47819,50787,53911,55550,57748

In [40]:
clean = small[~small.GeoFIPS.isin(bad_fips)]

In [41]:
clean.shape

(6136, 57)

In [42]:
clean.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
7,"""01001""","Autauga, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,25166,24606,...,53277,54135,54750,55199,54927,54695,54864,54838,55278,55504
8,"""01001""","Autauga, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2780,3158,...,32876,32603,33415,34325,35040,35464,36677,38591,39509,40484
10,"""01003""","Baldwin, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,56951,59474,...,175827,179406,183110,186534,190048,194736,199064,202863,207509,212628
11,"""01003""","Baldwin, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2760,2905,...,35751,34698,36282,37804,38166,38212,39561,41412,43004,44079
13,"""01005""","Barbour, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,23818,22655,...,27808,27657,27332,27351,27175,26947,26749,26264,25774,25270

In [43]:
6136/2.

3068.0

In [44]:
pc_inc = data[data.LineCode==3]

In [45]:
pc_inc.shape

(3198, 57)

In [46]:
!ls *.shp

ls: cannot access '*.shp': No such file or directory

In [47]:
import geopandas

In [48]:
county_df = geopandas.read_file('tl_2019_us_county.shp')

DriverError: tl_2019_us_county.shp: No such file or directory

In [ ]:
pc_inc['GEOID'] = [code.replace('\"',"").strip() for code in pc_inc.GeoFIPS]

In [ ]:
pc_inc.head()

In [ ]:
merged_gdf = county_df.merge(pc_inc, on='GEOID')

In [ ]:
merged_gdf.shape

In [ ]:
county_df.shape

In [ ]:
pc_inc.shape

In [ ]:
not_merged = pc_inc[~pc_inc.GEOID.isin(merged_gdf.GEOID)]

In [ ]:
not_merged.shape

In [ ]:
not_merged