In [10]:
import pandas
from zipfile import ZipFile
import glob
from urllib.request import urlopen
from io import BytesIO

In [12]:
caincurl = 'https://github.com/gdsbook/data_archive/raw/master/us_county_income/CAINC1.zip'
with urlopen(caincurl) as zipresp:
    with ZipFile(BytesIO(zipresp.read())) as zf:
        zf.extractall()

In [13]:
!ls

010_csv.ipynb                    CAINC1_MT_1969_2017.csv
015_csv_state_shp.ipynb          CAINC1_NC_1969_2017.csv
020_virginia.ipynb               CAINC1_ND_1969_2017.csv
030_wisconsin.ipynb              CAINC1_NE_1969_2017.csv
040_other.ipynb                  CAINC1_NH_1969_2017.csv
050_shrink.ipynb                 CAINC1_NJ_1969_2017.csv
CAINC1_AK_1969_2017.csv          CAINC1_NM_1969_2017.csv
CAINC1_AL_1969_2017.csv          CAINC1_NV_1969_2017.csv
CAINC1_AR_1969_2017.csv          CAINC1_NY_1969_2017.csv
CAINC1_AZ_1969_2017.csv          CAINC1_OH_1969_2017.csv
CAINC1_CA_1969_2017.csv          CAINC1_OK_1969_2017.csv
CAINC1_CO_1969_2017.csv          CAINC1_OR_1969_2017.csv
CAINC1_CT_1969_2017.csv          CAINC1_PA_1969_2017.csv
CAINC1_DC_1969_2017.csv          CAINC1_RI_1969_2017.csv
CAINC1_DE_1969_2017.csv          CAINC1_SC_1969_2017.csv
CAINC1_FL_1969_2017.csv          CAINC1_SD_1969_2017.csv
CAINC1_GA_1969_2017.csv          CAINC1_TN_1969_2017.csv
CAINC1_HI_1969_2017.csv          CAINC1_TX_1969_2017.csv
CAINC1_IA_1969_2017.csv          CAINC1_US_1969_2017.csv
CAINC1_ID_1969_2017.csv          CAINC1_UT_1969_2017.csv
CAINC1_IL_1969_2017.csv          CAINC1_VA_1969_2017.csv
CAINC1_IN_1969_2017.csv          CAINC1_VT_1969_2017.csv
CAINC1_KS_1969_2017.csv          CAINC1_WA_1969_2017.csv
CAINC1_KY_1969_2017.csv          CAINC1_WI_1969_2017.csv
CAINC1_LA_1969_2017.csv          CAINC1_WV_1969_2017.csv
CAINC1_MA_1969_2017.csv          CAINC1_WY_1969_2017.csv
CAINC1_MD_1969_2017.csv          CAINC1__ALL_STATES_1969_2017.csv
CAINC1_ME_1969_2017.csv          CAINC1__Footnotes.html
CAINC1_MI_1969_2017.csv          CAINC1__definition.xml
CAINC1_MN_1969_2017.csv          README.md
CAINC1_MO_1969_2017.csv          uscountyincome.csv
CAINC1_MS_1969_2017.csv

In [14]:
csv_files = glob.glob("*.csv")

In [15]:
csv_files

['CAINC1_FL_1969_2017.csv',
 'CAINC1_MA_1969_2017.csv',
 'CAINC1_NH_1969_2017.csv',
 'CAINC1_TN_1969_2017.csv',
 'CAINC1_ME_1969_2017.csv',
 'CAINC1_KS_1969_2017.csv',
 'CAINC1_OK_1969_2017.csv',
 'CAINC1_AL_1969_2017.csv',
 'CAINC1_WV_1969_2017.csv',
 'CAINC1_NY_1969_2017.csv',
 'CAINC1_RI_1969_2017.csv',
 'CAINC1_MT_1969_2017.csv',
 'CAINC1_IL_1969_2017.csv',
 'CAINC1_MS_1969_2017.csv',
 'CAINC1_CA_1969_2017.csv',
 'CAINC1_AK_1969_2017.csv',
 'CAINC1_TX_1969_2017.csv',
 'CAINC1_LA_1969_2017.csv',
 'CAINC1_AZ_1969_2017.csv',
 'CAINC1_DE_1969_2017.csv',
 'CAINC1_OH_1969_2017.csv',
 'CAINC1_CT_1969_2017.csv',
 'CAINC1_NE_1969_2017.csv',
 'CAINC1__ALL_STATES_1969_2017.csv',
 'CAINC1_CO_1969_2017.csv',
 'CAINC1_SC_1969_2017.csv',
 'CAINC1_IA_1969_2017.csv',
 'CAINC1_SD_1969_2017.csv',
 'CAINC1_KY_1969_2017.csv',
 'uscountyincome.csv',
 'CAINC1_WI_1969_2017.csv',
 'CAINC1_MO_1969_2017.csv',
 'CAINC1_GA_1969_2017.csv',
 'CAINC1_US_1969_2017.csv',
 'CAINC1_NV_1969_2017.csv',
 'CAINC1_WY_1969_2017.csv',
 'CAINC1_NC_1969_2017.csv',
 'CAINC1_AR_1969_2017.csv',
 'CAINC1_MN_1969_2017.csv',
 'CAINC1_MI_1969_2017.csv',
 'CAINC1_ND_1969_2017.csv',
 'CAINC1_ID_1969_2017.csv',
 'CAINC1_OR_1969_2017.csv',
 'CAINC1_UT_1969_2017.csv',
 'CAINC1_HI_1969_2017.csv',
 'CAINC1_IN_1969_2017.csv',
 'CAINC1_PA_1969_2017.csv',
 'CAINC1_WA_1969_2017.csv',
 'CAINC1_NJ_1969_2017.csv',
 'CAINC1_NM_1969_2017.csv',
 'CAINC1_MD_1969_2017.csv',
 'CAINC1_DC_1969_2017.csv',
 'CAINC1_VA_1969_2017.csv',
 'CAINC1_VT_1969_2017.csv']

In [16]:
data = pandas.read_csv('CAINC1__ALL_STATES_1969_2017.csv', encoding='latin-1', 
                      skipfooter=3, engine='python')

In [17]:
data.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"""00000""",United States,,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,791229000,855525000,...,12438527000,12051307000,12541995000,13315478000,13998383000,14175503000,14983140000,15711634000,16115630000,16820250000
1,"""00000""",United States,,CAINC1,2,...,Population (persons) 1/,Number of persons,201298000,203798722,...,304093966,306771529,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,"""00000""",United States,,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,...,40904,39284,40545,42727,44582,44826,47025,48940,49831,51640
3,"""01000""",Alabama,5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,9737715,10628318,...,157479528,155254669,161965527,167675590,172427855,174118716,180220290,187301605,190991192,198916425
4,"""01000""",Alabama,5,CAINC1,2,...,Population (persons) 1/,Number of persons,3440000,3449846,...,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747

In [18]:
virginia = data[data.GeoFIPS.str.contains('\"51')] # select virginia
virginia.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
8670,"""51000""",Virginia,5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,17847652,19371643,...,356434411,348944176,364382497,386298008,404772481,402064568,420235927,440823733,448683501,466743276
8671,"""51000""",Virginia,5,CAINC1,2,...,Population (persons) 1/,Number of persons,4614000,4659930,...,7833496,7925937,8025206,8107548,8188656,8261689,8316902,8366767,8414380,8470020
8672,"""51000""",Virginia,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3868,4157,...,45501,44026,45405,47647,49431,48666,50528,52687,53323,55105
8673,"""51001""","Accomack, VA",5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,72875,79372,...,1090928,1089574,1112288,1129193,1181700,1188926,1227111,1277179,1283155,1324623
8674,"""51001""","Accomack, VA",5,CAINC1,2,...,Population (persons) 1/,Number of persons,29308,28863,...,33970,33415,33147,33222,33264,32963,32965,32911,32818,32545

In [19]:
virginia.shape

(318, 57)

In [20]:
virginia.to_csv('virginia.csv')

In [21]:
data.head(20)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"""00000""",United States,,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,791229000,855525000,...,12438527000,12051307000,12541995000,13315478000,13998383000,14175503000,14983140000,15711634000,16115630000,16820250000
1,"""00000""",United States,,CAINC1,2,...,Population (persons) 1/,Number of persons,201298000,203798722,...,304093966,306771529,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
2,"""00000""",United States,,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,...,40904,39284,40545,42727,44582,44826,47025,48940,49831,51640
3,"""01000""",Alabama,5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,9737715,10628318,...,157479528,155254669,161965527,167675590,172427855,174118716,180220290,187301605,190991192,198916425
4,"""01000""",Alabama,5,CAINC1,2,...,Population (persons) 1/,Number of persons,3440000,3449846,...,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
5,"""01000""",Alabama,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2831,3081,...,33377,32631,33844,34942,35818,36067,37235,38612,39294,40805
6,"""01001""","Autauga, AL",5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,69973,77712,...,1751550,1764978,1829458,1894696,1924646,1939719,2012244,2116276,2183987,2247046
7,"""01001""","Autauga, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,25166,24606,...,53277,54135,54750,55199,54927,54695,54864,54838,55278,55504
8,"""01001""","Autauga, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2780,3158,...,32876,32603,33415,34325,35040,35464,36677,38591,39509,40484
9,"""01003""","Baldwin, AL",5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,157191,172745,...,6286039,6224967,6643563,7051666,7253460,7441318,7875234,8400864,8923673,9372465
10,"""01003""","Baldwin, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,56951,59474,...,175827,179406,183110,186534,190048,194736,199064,202863,207509,212628
11,"""01003""","Baldwin, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2760,2905,...,35751,34698,36282,37804,38166,38212,39561,41412,43004,44079
12,"""01005""","Barbour, AL",5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,51130,57657,...,714058,721519,760771,768718,764828,809476,800883,827557,818333,845349
13,"""01005""","Barbour, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,23818,22655,...,27808,27657,27332,27351,27175,26947,26749,26264,25774,25270
14,"""01005""","Barbour, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,2147,2545,...,25678,26088,27834,28106,28145,30040,29941,31509,31750,33453
15,"""01007""","Bibb, AL",5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,29810,32551,...,567239,545746,573892,590755,612395,617036,636539,655342,656112,680543
16,"""01007""","Bibb, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,14994,13798,...,22705,22941,22872,22745,22658,22503,22533,22561,22633,22668
17,"""01007""","Bibb, AL",5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,1988,2359,...,24983,23789,25091,25973,27028,27420,28249,29048,28989,30022
18,"""01009""","Blount, AL",5,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,69322,70070,...,1578207,1570082,1592535,1632900,1704785,1739496,1804587,1842131,1857001,1955420
19,"""01009""","Blount, AL",5,CAINC1,2,...,Population (persons) 1/,Number of persons,26411,26999,...,57055,57341,57381,57562,57595,57623,57546,57590,57562,58013

In [22]:
data.tail(10)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
9584,"""95000""",Southeast,5,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3198,3469,...,36869,35389,36475,38112,39418,39271,41206,42950,43723,45198
9585,"""96000""",Southwest,6,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,56500512,62538485,...,1388296587,1320708181,1388502208,1504486401,1603075990,1642200054,1762040572,1805775989,1814966983,1894779972
9586,"""96000""",Southwest,6,CAINC1,2,...,Population (persons) 1/,Number of persons,16328000,16621375,...,36269039,36899289,37472786,37972888,38521426,39030404,39619086,40243759,40820143,41339800
9587,"""96000""",Southwest,6,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3460,3763,...,38278,35792,37054,39620,41615,42075,44475,44871,44463,45834
9588,"""97000""",Rocky Mountain,7,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,17805758,19931406,...,409181684,391528943,405707756,438403773,467422371,485385826,521692774,550009439,564264469,593926448
9589,"""97000""",Rocky Mountain,7,CAINC1,2,...,Population (persons) 1/,Number of persons,4943000,5037873,...,10609537,10793888,10949084,11079489,11215355,11366966,11514638,11689105,11878018,12055738
9590,"""97000""",Rocky Mountain,7,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,3602,3956,...,38567,36273,37054,39569,41677,42701,45307,47053,47505,49265
9591,"""98000""",Far West,8,CAINC1,1,...,Personal income (thousands of dollars),Thousands of dollars,121725092,131575529,...,2230239645,2154405245,2246368991,2391122432,2547186492,2589966233,2777826261,2978517281,3098158645,3248359269
9592,"""98000""",Far West,8,CAINC1,2,...,Population (persons) 1/,Number of persons,26635000,27101402,...,51608614,52167532,52686778,53176406,53679832,54161802,54695081,55249155,55772858,56250544
9593,"""98000""",Far West,8,CAINC1,3,...,Per capita personal income (dollars) 2/,Dollars,4570,4855,...,43214,41298,42636,44966,47451,47819,50787,53911,55550,57748

In [23]:
# fips codes source: https://www.nrcs.usda.gov/wps/portal/nrcs/detail/?cid=nrcs143_013696
fips = """Alabama 	AL 	01
Alaska 	AK 	02
Arizona 	AZ 	04
Arkansas 	AR 	05
California 	CA 	06
Colorado 	CO 	08
Connecticut 	CT 	09
Delaware 	DE 	10
Florida 	FL 	12
Georgia 	GA 	13
Hawaii 	HI 	15
Idaho 	ID 	16
Illinois 	IL 	17
Indiana 	IN 	18
Iowa 	IA 	19
Kansas 	KS 	20
Kentucky 	KY 	21
Louisiana 	LA 	22
Maine 	ME 	23
Maryland 	MD 	24
Massachusetts 	MA 	25
Michigan 	MI 	26
Minnesota 	MN 	27
Mississippi 	MS 	28
Missouri 	MO 	29
Montana 	MT 	30
Nebraska 	NE 	31
Nevada 	NV 	32
New Hampshire 	NH 	33
New Jersey 	NJ 	34
New Mexico 	NM 	35
New York 	NY 	36
North Carolina 	NC 	37
North Dakota 	ND 	38
Ohio 	OH 	39
Oklahoma 	OK 	40
Oregon 	OR 	41
Pennsylvania 	PA 	42
Rhode Island 	RI 	44
South Carolina 	SC 	45
South Dakota 	SD 	46
Tennessee 	TN 	47
Texas 	TX 	48
Utah 	UT 	49
Vermont 	VT 	50
Virginia 	VA 	51
Washington 	WA 	53
West Virginia 	WV 	54
Wisconsin 	WI 	55
Wyoming 	WY 	56
American Samoa 	AS 	60
Guam 	GU 	66
Northern Mariana Islands 	MP 	69
Puerto Rico 	PR 	72
Virgin Islands 	VI 	78"""

In [24]:
fips_df = pandas.DataFrame([fip.split("\t") for fip in fips.split("\n")])
fips_df.columns=["State", "Abbreviation", 'FIPS']

In [25]:
fips_df

                        State Abbreviation FIPS
0                    Alabama           AL    01
1                     Alaska           AK    02
2                    Arizona           AZ    04
3                   Arkansas           AR    05
4                 California           CA    06
5                   Colorado           CO    08
6                Connecticut           CT    09
7                   Delaware           DE    10
8                    Florida           FL    12
9                    Georgia           GA    13
10                    Hawaii           HI    15
11                     Idaho           ID    16
12                  Illinois           IL    17
13                   Indiana           IN    18
14                      Iowa           IA    19
15                    Kansas           KS    20
16                  Kentucky           KY    21
17                 Louisiana           LA    22
18                     Maine           ME    23
19                  Maryland           MD    24
20             Massachusetts           MA    25
21                  Michigan           MI    26
22                 Minnesota           MN    27
23               Mississippi           MS    28
24                  Missouri           MO    29
25                   Montana           MT    30
26                  Nebraska           NE    31
27                    Nevada           NV    32
28             New Hampshire           NH    33
29                New Jersey           NJ    34
30                New Mexico           NM    35
31                  New York           NY    36
32            North Carolina           NC    37
33              North Dakota           ND    38
34                      Ohio           OH    39
35                  Oklahoma           OK    40
36                    Oregon           OR    41
37              Pennsylvania           PA    42
38              Rhode Island           RI    44
39            South Carolina           SC    45
40              South Dakota           SD    46
41                 Tennessee           TN    47
42                     Texas           TX    48
43                      Utah           UT    49
44                   Vermont           VT    50
45                  Virginia           VA    51
46                Washington           WA    53
47             West Virginia           WV    54
48                 Wisconsin           WI    55
49                   Wyoming           WY    56
50            American Samoa           AS    60
51                      Guam           GU    66
52  Northern Mariana Islands           MP    69
53               Puerto Rico           PR    72
54            Virgin Islands           VI    78

In [26]:
omit_fips = [" \""+str(fip) for fip in ['02', 15, 60, 66, 69, 72, 78, 90, 91, 92, 93, 94, 95, 96, 97, 98]]
omit_fips

[' "02',
 ' "15',
 ' "60',
 ' "66',
 ' "69',
 ' "72',
 ' "78',
 ' "90',
 ' "91',
 ' "92',
 ' "93',
 ' "94',
 ' "95',
 ' "96',
 ' "97',
 ' "98']

In [27]:
small = data.copy()
for omit in omit_fips:
    small = small[~small.GeoFIPS.str.contains(omit)]

In [28]:
small.shape

(9393, 57)

In [29]:
data.shape

(9594, 57)

In [30]:
geofips = set(code[:4] for code in data.GeoFIPS.values)

In [31]:
geofips

{' "00',
 ' "01',
 ' "02',
 ' "04',
 ' "05',
 ' "06',
 ' "08',
 ' "09',
 ' "10',
 ' "11',
 ' "12',
 ' "13',
 ' "15',
 ' "16',
 ' "17',
 ' "18',
 ' "19',
 ' "20',
 ' "21',
 ' "22',
 ' "23',
 ' "24',
 ' "25',
 ' "26',
 ' "27',
 ' "28',
 ' "29',
 ' "30',
 ' "31',
 ' "32',
 ' "33',
 ' "34',
 ' "35',
 ' "36',
 ' "37',
 ' "38',
 ' "39',
 ' "40',
 ' "41',
 ' "42',
 ' "44',
 ' "45',
 ' "46',
 ' "47',
 ' "48',
 ' "49',
 ' "50',
 ' "51',
 ' "53',
 ' "54',
 ' "55',
 ' "56',
 ' "91',
 ' "92',
 ' "93',
 ' "94',
 ' "95',
 ' "96',
 ' "97',
 ' "98'}

In [32]:
geofips = set(code[:4] for code in small.GeoFIPS.values)

In [33]:
geofips

{' "00',
 ' "01',
 ' "04',
 ' "05',
 ' "06',
 ' "08',
 ' "09',
 ' "10',
 ' "11',
 ' "12',
 ' "13',
 ' "16',
 ' "17',
 ' "18',
 ' "19',
 ' "20',
 ' "21',
 ' "22',
 ' "23',
 ' "24',
 ' "25',
 ' "26',
 ' "27',
 ' "28',
 ' "29',
 ' "30',
 ' "31',
 ' "32',
 ' "33',
 ' "34',
 ' "35',
 ' "36',
 ' "37',
 ' "38',
 ' "39',
 ' "40',
 ' "41',
 ' "42',
 ' "44',
 ' "45',
 ' "46',
 ' "47',
 ' "48',
 ' "49',
 ' "50',
 ' "51',
 ' "53',
 ' "54',
 ' "55',
 ' "56'}

In [34]:
small.shape

(9393, 57)

In [35]:
for fip in geofips:
    sdf = small[small.GeoFIPS.str.contains(fip)]
    sdf.to_csv(fip[2:]+".csv")